[submodule "components/vision"]
	path = components/vision
	url = https://github.com/ping152/puzzle-opencv-ros2.git
	branch = main
[submodule "components/cm530"]
	path = components/cm530
	url = https://github.com/ping152/phantomx-cm530-bridge.git
	branch = main
[submodule "components/controller"]
	path = components/controller
	url = https://github.com/ping152/phantomx-puzzle-controller.git
	branch = main
